/* background-color: #2f435e; */
/* background-color: #2f435e; */
/* 
#2f435e, #44566c, #ececec, #4b5e65, #201b22.  */



#satadmin-app-backofice .main-head{
    height: 150px;
    background: #FFF;

}

#satadmin-app-backofice .sidenav {
    height: 100%;
    background-color: #2f435e;
    overflow-x: hidden;
    padding-top: 20px;
}

#satadmin-app-backofice .main {
    padding: 0px 10px;
}

@media  screen and (max-height: 450px) {
    #satadmin-app-backofice .sidenav {padding-top: 15px;}
}

@media  screen and (max-width: 450px) {
    #satadmin-app-backofice .login-form{
        margin-top: 10%;
    }

    #satadmin-app-backofice .register-form{
        margin-top: 10%;
    }
}

@media  screen and (min-width: 768px){
    #satadmin-app-backofice .main{
        margin-left: 40%; 
    }

    #satadmin-app-backofice .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    #satadmin-app-backofice .login-form{
        margin-top: 80%;
    }

    #satadmin-app-backofice .register-form{
        margin-top: 20%;
    }
}


#satadmin-app-backofice .login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
    animation-name: fadeIn;
    animation-duration: 0.7s;
}

#satadmin-app-backofice #loginFormHome{
    animation-name: fadeIn;
    animation-duration: 0.7s;
}

#satadmin-app-backofice  .login-main-text h2{
    font-weight: 300;
}

#satadmin-app-backofice .btn-black{
    background-color: #000 !important;
    color: #fff;
}

#satadmin-app-backofice .sidenav h1{
    font-size: 47px;
    font-family: "AlexBrush";
}

#satadmin-app-backofice .loading{
    margin-top: 300px;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 0.7s;
}

/* SATADMIN */

#satadmin-app-backofice body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#satadmin-app-backofice .loginText p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#satadmin-app-backofice #sidebar a,
#satadmin-app-backofice #sideba a:hover,
#satadmin-app-backofice #sideba a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#satadmin-app-backofice .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#satadmin-app-backofice .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#satadmin-app-backofice .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#satadmin-app-backofice .profile-bar{
    background-color: #575d64;
    padding: 10px 0;
}

#satadmin-app-backofice .wrapper {
    display: flex;
    width: 100%;
}

#satadmin-app-backofice #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #44566c;
    color: #fff;
    transition: all 0.3s;
}

#satadmin-app-backofice #sidebar.active {
    margin-left: -250px;
}

#satadmin-app-backofice #sidebar .sidebar-header {
    padding: 20px;
    background: #2f435e;
}

/* #satadmin-app-backofice #sidebar ul.components {
    border-bottom: 1px solid #47748b;
} */

#satadmin-app-backofice #sidebar ul p {
    color: #fff;
    padding: 10px;
}

#satadmin-app-backofice #sidebar ul li a {
    padding: 15px 15px 15px 21px;
    font-size: 1.1em;
    display: block;
}

#satadmin-app-backofice #sidebar ul li a:hover {
    background: #1d202c !important;
    color: white !important;
}

#satadmin-app-backofice #sidebar ul li.active>a,
#satadmin-app-backofice a[aria-expanded="true"] {
    background: #1d202c !important;
    color: white !important;
}

#satadmin-app-backofice a[data-toggle="collapse"] {
    position: relative;
}

#satadmin-app-backofice .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#satadmin-app-backofice ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#satadmin-app-backofice ul.CTAs {
    padding: 20px;
}

#satadmin-app-backofice ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#satadmin-app-backofice a.download {
    background: #fff;
    color: #7386D5;
}

#satadmin-app-backofice a.article,
#satadmin-app-backofice a.article:hover {
    background: #1d202c !important;
    color: white !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#satadmin-app-backofice #content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#satadmin-app-backofice #content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #satadmin-app-backofice #sidebar {
        margin-left: -250px;
    }
    #satadmin-app-backofice #sidebar.active {
        margin-left: 0;
    }
    #satadmin-app-backofice #content {
        width: 100%;
    }
    #satadmin-app-backofice #content.active {
        width: calc(100% - 250px);
    }
    #satadmin-app-backofice #sidebarCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    FIELD IMG
----------------------------------------------------- */

#satadmin-app-backofice .img-upload{
    max-height: 149px;
    min-height: 149px;     
}
#satadmin-app-backofice .frame-img{
    padding: 5px;
    background-color: rgba(221, 231, 231, 0.226);
    border: 1px rgba(0, 0, 0, 0.185) solid;

    height: 160px;

    overflow: hidden;
}

#satadmin-app-backofice .label-file {
    cursor: pointer;
    background-color: #dfe7e98e;
    color: black;
    border: rgba(32, 32, 32, 0.568) solid 1px;
}
#satadmin-app-backofice .label-file:hover {
    background-color: #7a9ea746;
}

#satadmin-app-backofice .input-file {
    display: none;
}

#satadmin-app-backofice .imgPanel{
    height: 40px;
    width: auto;
}

#satadmin-app-backofice .imgPanelModal{
    max-height: 640px;
    max-width: 640px;
    width: auto;
}

#satadmin-app-backofice .imgDetails{
    max-height: 440px;
    max-width: 440px;
    width: auto;
}


/* TABLE */
#satadmin-app-backofice td{
    padding-left: 10px !important;
    font-size: 17px;
}
#satadmin-app-backofice .thPadding{
    background-color: #dfe7e98e;
    border: none !important;
    padding-left: 10px !important;
    font-size: 17px;
}
#satadmin-app-backofice .gestionWith{
    width: 152px;
}
#satadmin-app-backofice .checkWith{
    background-color: #e8f1f38e;
    /* border: none !important; */
    width: 35px;
}

#satadmin-app-backofice table .fieldValueSata a{
    color: #6d7fcc;
}
#satadmin-app-backofice table .fieldValueSata a:hover{
    color: #2d3e8d !important;
}

#satadmin-app-backofice .fieldValueSata{
    vertical-align: center;
    white-space: nowrap !important;
    overflow: hidden;
    max-width: 300px !important;
    border-right: none !important;
    border-left: none !important;
}

#satadmin-app-backofice .fieldValueSataDetails{
    vertical-align: center;
    max-width: 300px !important;
    border-right: none !important;
    border-left: none !important;
}

#satadmin-app-backofice table tr{
    max-height: 46px !important;
}

#satadmin-app-backofice .nameAuth{
    font-size: 16px !important;
}

#satadmin-app-backofice #sidebar{
    -webkit-box-shadow: -3px -1px 13px 2px rgba(122,122,122,1);
    -moz-box-shadow: -3px -1px 13px 2px rgba(122,122,122,1);
    box-shadow: -3px -1px 13px 2px rgba(122,122,122,1);
}

#satadmin-app-backofice table{
    font-size: 15px !important;
}
#satadmin-app-backofice .sectionQuill{
    margin-bottom: 85px;
}
#satadmin-app-backofice .editor{
    color: black !important;
    background-color: white;

}